# Tests, examples, docs
tests/                export-ignore
docs/                 export-ignore
coverage/             export-ignore
phpunit.xml           export-ignore

# GitHub workflows
.github/              export-ignore

# IDE, environment, and OS files
.editorconfig         export-ignore
.gitattributes        export-ignore
.gitinore             export-ignore
